@import "../common/modal/modal.css";
@import "../common/loader/loader.css";
@import "../common/formInit/formInit.css";
@import "../common/button/button.css";

/* loader position */
.lds-default {
    position: relative;
    top: -300px;
}
/* loader position */

body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
}

.auth {
    width: 350px;
}

.auth__title {
    margin-top: 0;
    margin-bottom: 15px;

    text-align: center;
    user-select: none;
}

.forbidden-alert {
    width: 200px;
}

.forbidden-alert .alert-message {
    text-align: center;
}

.alert-message {
    font-size: 20px;
}
