@import "../common/button/button.css";
@import "../common/formInit/formInit.css";

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;

    font-family: sans-serif;
}

.publish {
    margin-top: 15px;
    width: 95%;
}

.publish__stage-list {
    display: flex;
    overflow-x: auto;

    margin: 0 0 20px;
    padding: 0;
}

.publish__stage-item {
    list-style: none;

    padding: 0 5px;
    margin: 0 5px;

    font-size: 18px;
}

.publish__stage-item:first-child {
    margin-left: auto;
}

.publish__stage-item:last-child {
    margin-right: auto;
}

.publish__stage-icon {
    display: block;
    width: 18px;
    height: 18px;

    margin: auto;

    border: 1px solid #efefef;
    border-radius: 50%;

    background-color: #cecece;

    filter: drop-shadow(0 2px 1px #efefef);
}

.publish__stage-icon--active {
    background-color: #b5051a;
    position: relative;
}

.publish__stage-icon--active:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    top: 12px;
    border-right: 9px solid transparent;
    border-top: 15px solid #b5051a;
}

.publish__stage-icon--active + .publish__stage-title {
    color: #000000;
    border-bottom: 2px solid #b5051a;
}

.publish__stage-icon--break {
    background-color: #b5051a;
    box-shadow: 0 0 6px #b5051a;

    border: none;
}

.publish__stage-title {
    margin: 10px 0 0;
    padding: 0 5px 5px;

    border: 2px solid transparent;

    color: rgba(0, 0, 0, .2);
    text-align: center;
}

.publish__webview {
    width: 100%;
    height: 80vh;
    margin-bottom: 15px;

    border: 1px solid #b5051a;
}

.publish__controls {
    display: flex;
    justify-content: flex-end;

    height: 47px;
    width: 100%;
}

.controls__interval {
    flex-basis: 230px;
    height: 100%;

    margin-right: 10px;
}

.button {
    height: 100%;
}